<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CinemaAsia</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="https://fonts.googleapis.com/css?family=Cabin:700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/73bebda1af.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-toggleable-sm navbar-dark bg-white border-bottom box-shadow mb-3 navbar-custom">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">CinemaAsia</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-light dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" asp-area="" asp-controller="Home" asp-action="Index">Country</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" asp-controller="Browse" asp-action="Country" asp-route-selection="@Country.HK">Hong Kong</a>
                                <a class="dropdown-item" asp-controller="Browse" asp-action="Country" asp-route-selection="@Country.China">China</a>
                                <a class="dropdown-item" asp-controller="Browse" asp-action="Country" asp-route-selection="@Country.Japan">Japan</a>
                                <a class="dropdown-item" asp-controller="Browse" asp-action="Country" asp-route-selection="@Country.Korea">Korea</a>
                                <a class="dropdown-item" asp-controller="Browse" asp-action="Country" asp-route-selection="@Country.Malaysia">Malaysia</a>
                                <a class="dropdown-item" asp-controller="Browse" asp-action="Country" asp-route-selection="@Country.Philippines">Philippines</a>
                                <a class="dropdown-item" asp-controller="Browse" asp-action="Country" asp-route-selection="@Country.Thailand">Thailand</a>
                                <a class="dropdown-item" asp-controller="Browse" asp-action="Country" asp-route-selection="@Country.Indonesia">Indonesia</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link text-light dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" asp-area="" asp-controller="Home" asp-action="Index">Genre</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" asp-controller="Browse" asp-action="Genre" asp-route-selection="@Genre.Action">Action</a>
                                <a class="dropdown-item" asp-controller="Browse" asp-action="Genre" asp-route-selection="@Genre.Animation">Animation</a>
                                <a class="dropdown-item" asp-controller="Browse" asp-action="Genre" asp-route-selection="@Genre.Comedy">Comedy</a>
                                <a class="dropdown-item" asp-controller="Browse" asp-action="Genre" asp-route-selection="@Genre.Crime">Crime</a>
                                <a class="dropdown-item" asp-controller="Browse" asp-action="Genre" asp-route-selection="@Genre.Drama">Drama</a>
                                <a class="dropdown-item" asp-controller="Browse" asp-action="Genre" asp-route-selection="@Genre.Horror">Horror</a>
                                <a class="dropdown-item" asp-controller="Browse" asp-action="Genre" asp-route-selection="@Genre.Romance">Romance</a>
                                <a class="dropdown-item" asp-controller="Browse" asp-action="Genre" asp-route-selection="@Genre.Thriller">Thriller</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer">
        <div class="container">
            &copy; 2019 CinemaAsia - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
